.section {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  margin-top: 0px;
  border: 1px solid;
  padding: 10px;
  padding-right: 15px;
  box-shadow: 5px 10px;
}

.input {
  width: 100%;
  max-width: 100%;
  border-color: black;
}

.ProseMirror,
textarea:focus {
  outline: 0;
}

.button {
  border: 1px solid black;
  background-color: white;
  font-size: 12px;
  margin: 4px -6px 0 auto;
}

.button:active {
  background-color: black; /* Green */
  color: white;
}

.heading {
  margin-left: 30px;
  margin-block-end: 5px;
}

.container {
  max-width: 600px;

  margin: 75px auto 0 auto;
}

.flex {
  display: flex;
}

.pre-wrap {
  white-space: pre-wrap;
}

.ProseMirror {
  > * + * {
    margin-top: 0.75em;
  }

  pre {
    background: #0d0d0d;
    border-radius: 0.5rem;
    color: #fff;
    font-family: "JetBrainsMono", monospace;
    padding: 0.75rem 1rem;

    code {
      background: none;
      color: inherit;
      font-size: 0.8rem;
      padding: 0;
    }

    .hljs-comment,
    .hljs-quote {
      color: #616161;
    }

    .hljs-variable,
    .hljs-template-variable,
    .hljs-attribute,
    .hljs-tag,
    .hljs-name,
    .hljs-regexp,
    .hljs-link,
    .hljs-name,
    .hljs-selector-id,
    .hljs-selector-class {
      color: #f98181;
    }

    .hljs-number,
    .hljs-meta,
    .hljs-built_in,
    .hljs-builtin-name,
    .hljs-literal,
    .hljs-type,
    .hljs-params {
      color: #fbbc88;
    }

    .hljs-string,
    .hljs-symbol,
    .hljs-bullet {
      color: #b9f18d;
    }

    .hljs-title,
    .hljs-section {
      color: #faf594;
    }

    .hljs-keyword,
    .hljs-selector-tag {
      color: #70cff8;
    }

    .hljs-emphasis {
      font-style: italic;
    }

    .hljs-strong {
      font-weight: 700;
    }
  }
}
